SlIndex/Sciendo.Indexing.DataProviders/Service References/IndexerClient/IndexerAgentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Sciendo.Indexer.Agent" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Sciendo.Indexer.Agent" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Sciendo.Indexer.Agent/Imports">
      <xsd:import schemaLocation="http://localhost:7000/IndexerAgentService?xsd=xsd0" namespace="http://Sciendo.Indexer.Agent" />
      <xsd:import schemaLocation="http://localhost:7000/IndexerAgentService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7000/IndexerAgentService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sciendo.Indexer.Agent.Service" />
      <xsd:import schemaLocation="http://localhost:7000/IndexerAgentService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sciendo.Lyrics.Common" />
      <xsd:import schemaLocation="http://localhost:7000/IndexerAgentService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIndexerAgent_IndexLyricsOnDemand_InputMessage">
    <wsdl:part name="parameters" element="tns:IndexLyricsOnDemand" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_IndexLyricsOnDemand_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndexLyricsOnDemandResponse" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_IndexMusicOnDemand_InputMessage">
    <wsdl:part name="parameters" element="tns:IndexMusicOnDemand" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_IndexMusicOnDemand_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndexMusicOnDemandResponse" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_GetLastProcessedPackages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastProcessedPackages" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_GetLastProcessedPackages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastProcessedPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_ListAvailableMusicPathsForIndexing_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAvailableMusicPathsForIndexing" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_ListAvailableMusicPathsForIndexing_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAvailableMusicPathsForIndexingResponse" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_ListAvailableLyricsPathsForIndexing_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAvailableLyricsPathsForIndexing" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_ListAvailableLyricsPathsForIndexing_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAvailableLyricsPathsForIndexingResponse" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_GetSourceFolders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceFolders" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_GetSourceFolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceFoldersResponse" />
  </wsdl:message>
  <wsdl:portType name="IIndexerAgent">
    <wsdl:operation name="IndexLyricsOnDemand">
      <wsdl:input wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/IndexLyricsOnDemand" message="tns:IIndexerAgent_IndexLyricsOnDemand_InputMessage" />
      <wsdl:output wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/IndexLyricsOnDemandResponse" message="tns:IIndexerAgent_IndexLyricsOnDemand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IndexMusicOnDemand">
      <wsdl:input wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/IndexMusicOnDemand" message="tns:IIndexerAgent_IndexMusicOnDemand_InputMessage" />
      <wsdl:output wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/IndexMusicOnDemandResponse" message="tns:IIndexerAgent_IndexMusicOnDemand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastProcessedPackages">
      <wsdl:input wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/GetLastProcessedPackages" message="tns:IIndexerAgent_GetLastProcessedPackages_InputMessage" />
      <wsdl:output wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/GetLastProcessedPackagesResponse" message="tns:IIndexerAgent_GetLastProcessedPackages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAvailableMusicPathsForIndexing">
      <wsdl:input wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/ListAvailableMusicPathsForIndexing" message="tns:IIndexerAgent_ListAvailableMusicPathsForIndexing_InputMessage" />
      <wsdl:output wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/ListAvailableMusicPathsForIndexingResponse" message="tns:IIndexerAgent_ListAvailableMusicPathsForIndexing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAvailableLyricsPathsForIndexing">
      <wsdl:input wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/ListAvailableLyricsPathsForIndexing" message="tns:IIndexerAgent_ListAvailableLyricsPathsForIndexing_InputMessage" />
      <wsdl:output wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/ListAvailableLyricsPathsForIndexingResponse" message="tns:IIndexerAgent_ListAvailableLyricsPathsForIndexing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSourceFolders">
      <wsdl:input wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/GetSourceFolders" message="tns:IIndexerAgent_GetSourceFolders_InputMessage" />
      <wsdl:output wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/GetSourceFoldersResponse" message="tns:IIndexerAgent_GetSourceFolders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>