SlIndexSpecflow/Sciendo.Index.Specs/Service References/MusicClient/MusicAgentService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Sciendo.Music.Contracts.MusicService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sciendo.Music.Contracts.MusicService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7070/MusicAgentService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:7070/MusicAgentService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sciendo.Music.Contracts.Common" />
  <xs:complexType name="ArrayOfProgressStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgressStatus" nillable="true" type="tns:ProgressStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgressStatus" nillable="true" type="tns:ArrayOfProgressStatus" />
  <xs:complexType name="ProgressStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Package" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sciendo.Music.Contracts.Common" minOccurs="0" name="Status" type="q1:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgressStatus" nillable="true" type="tns:ProgressStatus" />
  <xs:complexType name="SourceFolders">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lyrics" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Music" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SourceFolders" nillable="true" type="tns:SourceFolders" />
</xs:schema>