SlIndex/Sciendo.Indexer/Service References/Client/IndexerAgentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sciendo.Indexer.Agent" elementFormDefault="qualified" targetNamespace="http://Sciendo.Indexer.Agent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IndexLyricsOnDemand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexLyricsOnDemandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndexLyricsOnDemandResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexMusicOnDemand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexMusicOnDemandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndexMusicOnDemandResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>