SlIndex/Sciendo.Indexer/Service References/Client/IndexerAgentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Sciendo.Indexer.Agent" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Sciendo.Indexer.Agent" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Sciendo.Indexer.Agent/Imports">
      <xsd:import schemaLocation="http://localhost:7000/IndexerAgentService?xsd=xsd0" namespace="http://Sciendo.Indexer.Agent" />
      <xsd:import schemaLocation="http://localhost:7000/IndexerAgentService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIndexerAgent_IndexLyricsOnDemand_InputMessage">
    <wsdl:part name="parameters" element="tns:IndexLyricsOnDemand" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_IndexLyricsOnDemand_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndexLyricsOnDemandResponse" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_IndexMusicOnDemand_InputMessage">
    <wsdl:part name="parameters" element="tns:IndexMusicOnDemand" />
  </wsdl:message>
  <wsdl:message name="IIndexerAgent_IndexMusicOnDemand_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndexMusicOnDemandResponse" />
  </wsdl:message>
  <wsdl:portType name="IIndexerAgent">
    <wsdl:operation name="IndexLyricsOnDemand">
      <wsdl:input wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/IndexLyricsOnDemand" message="tns:IIndexerAgent_IndexLyricsOnDemand_InputMessage" />
      <wsdl:output wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/IndexLyricsOnDemandResponse" message="tns:IIndexerAgent_IndexLyricsOnDemand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IndexMusicOnDemand">
      <wsdl:input wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/IndexMusicOnDemand" message="tns:IIndexerAgent_IndexMusicOnDemand_InputMessage" />
      <wsdl:output wsaw:Action="http://Sciendo.Indexer.Agent/IIndexerAgent/IndexMusicOnDemandResponse" message="tns:IIndexerAgent_IndexMusicOnDemand_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>